{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Nume</th>
            <th>Poza</th>
            <th colspan="3">Actions</th>
        </tr>
        {% for key in images %}
            <tr>
                <td>{{ key.nume }}</td>
                <td><img src="/images/{{ key.poza }}" width="100" height="100"></td>
                <td><a href="{{  app.request.baseUrl() }}/show/{{key.id}}">View</a>
                    <a href="{{  app.request.baseUrl() }}/edit/{{key.id}}">Edit</a>
                    <a href="{{  app.request.baseUrl() }}/delete/{{key.id}}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{  app.request.baseUrl() }}/add">Insert a record</a>
{% endblock %}

